useDynLib(TCHazaRds, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("utils", "read.table")
importFrom("utils", "read.csv")
importFrom("stats", "approx")
importFrom("geosphere", "bearing")
importFrom("ncdf4", "nc_open")
importFrom("ncdf4", "ncvar_get")
importFrom("ncdf4", "nc_close")
importFrom("terra", "values")
importFrom("sp","spplot")
importFrom("rasterVis","vectorplot")
importFrom("graphics", "grid", "points")
importFrom("latticeExtra","layer")
importFrom("raster","raster")
importFrom("stats", "uniroot")
exportPattern("^[[:alpha:]]+")
